<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>



<div class="row">
  <div class="column">
      <img src="images/lebo2.jpg" >
      <h1 style="font-size: 230%; color: white">Lebogang Thipenyane</h1>
      <P class="grey-font">282 Mokoena Street <i class="fa fa-home"></i><br>
        Pimville Klipspruit &emsp;<br>
        1809 &emsp;<br>
     </P>

     <p class="grey-font">
         1999-07-23 <i class="fa fa-calendar"></i>
     </p>

     <p class="grey-font">
         074 905 4949 <i class="fa fa-phone"></i><br><br>
         lebothipenyane@gmail.com<i class="fa fa-at"></i>
     </p>

     <h1 id="myHeader">Languages &emsp;</h1>
     <p class="grey-font">English &emsp;<br>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)">&emsp;</i><br>
        
        Afrikaans &emsp;<br>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)">&emsp;</i><br>

        Setswana &emsp;<br>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)">&emsp;</i><br>

        Isizulu &emsp;<br>
         <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)"></i>&emsp;<br>

    </p>

    <h1 id="myHeader">Software Skills &emsp;</h1>

    <p class="grey-font">Word &emsp;<br>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)"></i>&emsp;<br>
        
        Powerpoint &emsp;<br>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)"></i>&emsp;<br>

        Excel &emsp;<br>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"  style="color: rgb(196, 193, 193)"></i>
        <i class="fa fa-circle" style="color: rgb(196, 193, 193)"> &emsp;</i>
   </p>
   
   <h1 id="myHeader" >Personality &emsp;</h1>
   <p class="grey-font">Communicative &#10004; &emsp;</p>
   <p class="grey-font">Punctuality &#10004; &emsp;</p>
   <p class="grey-font">Creativty &#10004; &emsp;</p>
   <P class="grey-font">Organised &#10004; &emsp;</P>





  </div>
  <div class="column1">
    <h1>Profile</h1>
    <p class="para1" >
        
             I am a hardworking working and dedicated individual with 1 year<br>
             of App development experience looking to secure an App Developing<br> 
             position.<br><br>

    </p>

<h1>Education</h1>
<p class="para1">

         2013-2017<br>
         Musi High School, Pimville, Soweto<br><br>
        02 January 2018-15 December 2018<br>
          Soweto Ekasi Lab, Mlab Academy, Soweto<br>
         App Development, Web Development.<br><br>

</p> 

<h1> Experience</h1>
<P class="para1">

        <b>1st of December 2018 - 30th December 2018</b><br>
        Mr Price,Maponya Mall, Soweto<br>
        Stock Controller<br>
       Responsibities: Recieve deliveries, and ensure everything<br> 
        is accounted for in those deliveries.<br><br>

         2nd of June 2017 - 11th of July 2017<br>
        JAM, Maponya Mall, Soweto<br>
       Cashier<br>
        Responsibilities: Receive payment by cash, check, credit cards,<br> 
        vouchers, or automatic debits. Issue receipts, refunds, credits, or change<br> 
        due to customers. Count money in cash to ensure that amounts are<br> 
        correct and that there is adequate change.<br><br>

</P>

<h1>Skills</h1>
<p class="para1">

        &#10004; Good communication - writting and oral skills.<br>
        &#10004; Excellent analytical skills.<br>
        &#10004; Excellent in team leading.<br><br>
   
</p>

<h1>Hobbies</h1>
<p class="para1" >

       <i class="fa fa-book" style="font-size:60px;color:blacl;text-shadow:2px 2px 4px #000000;"></i>
        Reading&emsp;&emsp;&emsp;&emsp;&emsp;
        <i class="fa fa-television" style="font-size:60px;color:blacl;text-shadow:2px 2px 4px #000000;"></i>
        Watching TV


        
        
</p>


  </div>
</div>

</body>
</html>